:root {
    --main-text-color:#333533 ;
    --main-bg-color: #e8eddf;
    --main-accent-color: #cfdbd5;
    --main-accent-color2: #f5cb5c;
    --main-accent-color3: #242423;
  }



* 
{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

ol {
    list-style-type: none;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    color: var(--main-text-color);

}
li{
    padding: 0 0.5rem;
}
.logo {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}


/* Path: index.html */

/* Path: gallery.html */

.gallery-page {
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.gallery-item {
    width: 15rem;
    height: 17rem;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--main-accent-color);
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.filter {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border: var(--main-accent-color) 1px solid;
    min-height:85vh;
    margin-left: 1rem;

}



