@import url("global.css");


.friends_container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.friends_request_container {
  width: 50%;
  min-height: 60vh;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;

}

.friends_add_accepted {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.friends_add_container {
  min-height: 20rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.friends_accepted_container {
  min-height: 40vh;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.friend {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  justify-content: space-between;
}

.friend_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  
}

.friend_button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}

.acceptButton {
  background-color: var(--color-primary);
  color: var(--color-text-3);
}

.deleteButton {
  background-color: var(--color-secondary);
  color: var(--color-text);
}


@media (max-width: 1280px) {
  
  .friends_container {
    flex-direction: column;

  }
  .friends_request_container {
    width: 100%;
    min-height: 40vh;
  }
  .friends_add_container {
    min-height: 10rem;
  }
  .friends_accepted_container {
    min-height: 30vh;
  }

}