:root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(0, 0, 0, 1);
    --hover: rgba(142, 142, 142, 0.729);
    --active: rgba(70, 70, 70, 0.308);
    --popover-foreground: 240 10% 3.9%; /*  */
    --primary: rgba(0, 0, 0, 1);
    --primary-foreground: 0 0% 98%;
    --secondary: rgb(255, 255, 255);
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: rgb(219, 219, 219);
    --border-foreground: rgba(98, 97, 97, 0.305);
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --blur : rgba(45, 45, 45, 0.309);
  }