:root {
    --background: rgba(255, 255, 255, 1);
    --backgrounf-foreground: rgba(232, 232, 232, 0.39);
    --foreground: rgba(0, 0, 0, 1);
    --hover: rgba(142, 142, 142, 0.2);
    --active: rgba(70, 70, 70, 0.308);
    --primary: rgba(0, 0, 0, 1);
    --secondary: rgb(255, 255, 255);
    --border: rgb(219, 219, 219);
    --border-foreground: rgba(98, 97, 97, 0.305);
    --radius: 0.5rem;
    --blur : rgba(119, 118, 118, 0.45);
  }